@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color:rgb(205, 50, 102);
    height: 65px;
    color:rgb(241, 169, 181) ;
    font-size: 3vw;
    align-items: center;
    padding: 0 13px;
    display: flex;
}
nav ul{
    list-style-type: none;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.gamecontainer{
    background-color: rgb(205, 50, 102);
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.container{
   display: grid;
   grid-template-columns: repeat(3,10vw);
   grid-template-rows: repeat(3, 10vw);
}
.boxes, .gameinfo{
    color:rgb(241, 169, 181);
    font-family: 'Roboto', sans-serif;
}
.boxes{
    border: 2.5px solid rgb(241, 169, 181);
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxes:hover{
    background-color:rgb(139, 44, 60)
}
.gameinfo{
    padding:0 45px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 1.5vw;
}
.imgbox{
    display: none;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}